html{
    margin-left: 0;
    padding-left: 0;
}

.navbar {
    overflow-x: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    font-family: Gumbo;
    width: 100%;
    margin: 0;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

.signup-form form {
    text-align: center;
    width: 290px;
    height: 50%;
    background-color: rgb(233, 197, 38);
    padding: 20px;
    border-radius: 20px;
    border: black 2px solid;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.signup-form button {
    background-color: rgb(68, 68, 68);
    color: rgb(255, 255, 255);
    width: 200px;
    height: 50px;
    border-radius: 50px;
    font-size: 22px;
    border: none;
    position: relative;
    bottom: 0;
}
body {
    font-family: Gumbo;
margin: 0;
    background-color: #19a3b3;
}

@font-face {
    font-family: "Gumbo";
    src: url(Gumbo.otf)format("opentype");
    font-style: normal;
    font-weight: normal;
}

.signup-form {
    float: right;
    align-items: center;
    width: 40%;
    height: 60%;
    padding-left: 5%;

}

.signup-form input {
    background-color: rgb(255, 255, 255);
    padding: 5px 0 5px 20px;
    margin: 7px 0;
    border: rgb(0, 0, 0) 2px solid;
    font-size: 20px;
    width: 88%;
    border-radius: 50px;
    box-shadow: 2px 2px 2px rgb(180, 152, 23);
}
.search-table
{
     float: right;
    padding: 2px;
    border-radius: 20px;
    border: black 2px solid;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width:15%;
}


.search-input
{
    background-color: rgb(255, 255, 255);
    padding: 5px 0 5px 20px;
    margin: 7px 0;
    border: rgb(0, 0, 0) 2px solid;
    font-size: 20px;
    width: 50%;
    border-radius: 50px;
    box-shadow: 2px 2px 2px rgb(180, 152, 23);
}
.signup-form select{
    background-color: rgb(255, 255, 255);
    padding: 5px 0 5px 20px;
    margin: 7px 0;
    border: rgb(0, 0, 0) 2px solid;
    font-size: 20px;
    width: 88%;
    border-radius: 50px;
    box-shadow: 2px 2px 2px rgb(180, 152, 23);
}

.table {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 5px solid #fff;
    border-top: 5px solid #fff;
    border-bottom: 3px solid #fff;
    border-collapse: collapse;
    outline: 3px solid #ffd300;
    font-size: 15px;
    background: #fff!important;
}
.table th {
    font-weight: bold;
    padding: 7px;
    /*background: #ffd300;*/
    border: none;
    text-align: left;
    font-size: 15px;
    border-top: 3px solid #fff;
    /*border-bottom: 3px solid #ffd300;*/
}
.table td {
    padding: 7px;
    border: none;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    font-size: 15px;
}
.table tbody tr:nth-child(even){
    background: #f8f8f8!important;
}
.signup-form{

    float: left;

}
#divPets{
    width: 100%;
    height: 100%;
    padding-top: 150px;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: center;
    align-items: center;
}
#listP{
    float: left;
  width: 40%;



}

h2{
    margin-left: 15%;
}

.hh{
    margin-left: 30%;

}

/* Base Styles For All Pages */
.section {
    padding-top: 80px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 40px;
}

/* pagination buttons */
.table-pagination{
    margin: 20px 30px;
}
.pagination-button{
    margin: 0 5px;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #ffd300;
    border: none;
}
.sorted-table
{
    /*margin: 80px 30px;*/
}
.sorted-button{
    margin: 0 5px;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #ffd300;
    border: none;
}

/* Procedures Styles */
.procedures-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.procedure-card {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    max-width: 230px;
    width: 100%;
    min-height: 300px;
    border-radius: 20px;
    padding: 15px;
    margin: 10px;
    background-color: #dbf2f4;
}
.procedure-card-img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}
.container h3{
    color: #0e343c;
}


/* History Page. Notes Styles */
.history-list {

}
.note-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #0e343c;
    max-width: 420px;
    width: 100%;
    min-height: 100px;
    background-color: #dbf2f4;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    z-index: 2;
   /* position: relative;*/
}

.note-card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.note-card-footer {
    display: flex;
    flex-direction: column;
}

.note-card-nameProcedure {
    font-size: 22px;
}
.status-label {
    padding: 7px 5px 5px;
    border-radius: 5px;
}
.status-label.waiting {
    background-color: #ffd300;
}
.status-label.denied {
    background-color: red;
}
.status-label.approved {
    background-color: greenyellow;
}

/* admin page */
.note-card-admin{
    z-index: 3;
}

.ListMasters{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    float:left;
}