<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/formpage.css}"/>
    <title>Applications</title>
</head>
<body>
<div class="navbar" style=" font-family: Gumbo;">
    <a href="/masterAdmin">Masters</a>
    <a href="/procedureAdmin">Procedures</a>
    <a href="/login">Sing in</a>
    <!--    <a href="/admin">Admin</a>-->
</div>
<section class="section procedures-section">
    <div class="container">
        <h1 class="page-title">Applications</h1>
        <div id="application-list" class="application-list">
        </div>
    </div>
    <div class="table-pagination">
        <button class="pagination-button" style="font-family: Gumbo">Prev</button>
        <button class="pagination-button" style="font-family: Gumbo">Next</button>
    </div>
</section>
<script  th:src="@{/js/Components/NoteCard.js}" defer></script>
<script  th:src="@{/js/admin.js}" defer></script>
</body>
</html>