<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script  th:src="@{/js/login.js}" defer></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/formpage.css}"/>
    <title>Login</title>
</head>

<body>
<div class="signup-form" style="padding-left: 40%;
   padding-top: 10%; " >
    <form>
        <h1>Sign in</h1>
        <input placeholder="Login"  type="text "  id="login">
        <input placeholder="Password"  type="password" id="password">
        <input type="button"  onclick="LoginMe()" value="OK">
        <h2><a href="/register">Sign Up</a></h2>
    </form>
    <div id="error"></div>
</div>

</body>

</html>