<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script  th:src="@{/js/masters.js}" defer></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/formpage.css}"/>
    <title>Masters</title>
</head>
<body onLoad="GetMasters()">
<div class="navbar">
    <a href="/master">Masters</a>
    <a href="/pet">Your pets</a>
    <a href="/history">History</a>
    <a href="/procedures">Procedures</a>
    <a href="/login">Sing in</a>
</div>
<div id="ListM">
</div>
</body>
</html>