<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script  th:src="@{/js/pet.js}" defer></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/formpage.css}"/>
    <title>Pets</title>
</head>
<body th:onload="PetsOfUser()">
<div class="navbar">
    <a href="/master">Masters</a>
    <a href="/pet">Your pets</a>
    <a href="/history">History</a>
    <a href="/procedures">Procedures</a>
    <a href="/login">Sing in</a>
</div>

<div id="divPets">
    <h2>Add pet</h2>
    <div class="signup-form" >
        <form>
            <input placeholder="Nickname" type="text"  id="nickname">
            <input placeholder="Age"  type="number"  id="age">
            <select id="pet_type_id">
                <option value="1">Cat</option>
                <option value="2">Dog</option>
                <option value="3">Pig</option>
            </select>
            <input type="button" value="OK" onclick="AddPet()"/>
            <span id="mesP"/>
        </form>
    </div>

    <h2 class="hh">My pets</h2>
    <div id="listP">


    </div>
</div>
</body>
</html>