<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/formpage.css}"/>
    <title>Procedures</title>
</head>
<body>
<div class="navbar">
    <a href="/master">Masters</a>
    <a href="/pet">Your pets</a>
    <a href="/history">History</a>
    <a href="/procedure">Procedures</a>
    <a href="/login">Sing in</a>
</div>
<!--<div class="signup-form" >-->
<!--&lt;!&ndash;<form >&ndash;&gt;-->
<!--&lt;!&ndash;    <input placeholder="Name" type="text"  id="name">&ndash;&gt;-->
<!--    <input placeholder="Price"  type="number"  id="price">-->
<!--    <input type="file"  name="file" id="file">-->
<!--    <input type="button" value="OK" onclick="AddProcedureAndPostPhoto()"/>-->
<!--    <span id="mesP"/>-->
<!--  </form>-->
<!--</div>-->

<section class="section procedures-section">
    <div class="container">
        <h1 class="page-title">Procedures</h1>
        <div class="sorted-table">
            <button class="sorted-button" onclick="SortAllProceduresByPrice(1)" style="font-family: Gumbo">Asc</button>
            <button class="sorted-button" onclick="SortAllProceduresByPrice(2)" style="font-family: Gumbo">Desc</button>
            <div class="search-table">
                <input placeholder="Search" class="search-input" id="search"></input>
                <input type="button" value="ok" onclick="SeachProceduresByName()"/>
            </div>
        </div>

        <div id="procedures-list" class="procedures-list">
        </div>
    </div>
    <div class="table-pagination">
        <button class="pagination-button" style="font-family: Gumbo">Prev</button>
        <button class="pagination-button" style="font-family: Gumbo">Next</button>
    </div>
</section>


<script  th:src="@{/js/Components/ProcedureCard.js}" defer></script>
<script  th:src="@{/js/procedures.js}" defer></script>

</body>
</html>